<!DOCTYPE html>
<html>

<head>
	<title>
		Nuova Recensione
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<nav>
			<ul class="navbar">
				<li><a href="/">Home</a></li>
			  	<li><a href="/movie">Elenco Film</a></li>
			  	<li><a href="/artist">Elenco Artisti</a></li>
				<li class="spacer"></li>
			  	<li class="user-section">
					<span th:if="${userDetails}">
						<div class="username" th:text="${userDetails.username}"></div>
					</span>
					<span th:unless="${userDetails}">
						<a href="/login" class="button">Login</a>
					</span>
					<span th:if="${userDetails}">
						<a href="/logout" class="button">Logout</a>
					</span>
				</li>
			</ul>
		</nav>
	</header>
	
	<main>
		<div><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
		<div class="login-form">
			<h1>Aggiungi una recensione: </h1>
			<form th:action="@{'/movie/' + ${movie.id} + '/formNewReview'}" method="POST" th:object="${review}">
				<div th:if="${#fields.hasGlobalErrors()}">
					<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
				</div>
				
				<div>
					<label for="title">Titolo:</label>
					<span><input type="text" th:field="${review.title}" placeholder="Titolo" /></span>
					<span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
					</span>
				</div>

				<div>
					<label>Voto (da 1 a 5):</label>
					<span><input type="text" th:field="${review.rating}" /></span>
					<span th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}">
					</span>
				</div>

				<div>
					<label for="text">Testo:</label>
					<span><input type="text" th:field="${review.text}"  placeholder="Testo"/></span>
				</div>
				
				<div>
					<span><button type="submit" class="button">Conferma</button></span>
				</div>
			</form>
		</div>
	</main>
</body>

</html>