<!DOCTYPE html>
<html>

<head>
	<title>
		SiwMovie - Homepage
	</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<header>
		<nav>
			<ul class="navbar">
				<li><a href="/">Home</a></li>
			  	<li><a href="/movie">Elenco Film</a></li>
			  	<li><a href="/artist">Elenco Artisti</a></li>
				<li class="spacer"></li>
			  	<li class="user-section">
					<span th:if="${userDetails}">
						<div class="username" th:text="${userDetails.username}"></div>
					</span>
					<span th:unless="${userDetails}">
						<a href="/login" class="button">Login</a>
					</span>
					<span th:if="${userDetails}">
						<a href="/logout" class="button">Logout</a>
					</span>
				</li>
			</ul>
		</nav>
	</header>

	<main>
		<a href="/"><img src="/images/logo-siw.png" width="50%" /></a>
		<h1>Consulta l'archivio</h1>
		<h3>Scegli un'operazione:</h3>
		<a href="/movie" class="button">Elenco Film</a>
		<a href="/artist" class=button>Elenco Artisti</a>
	</main>
</body>

</html>